:root {
  --color1: #070a0d;
  --color2: #0d1117;
  --color3: #161923;
  --color4: #161923;
  --color5: #252938;
  --separator-color: #252938;

  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-2-5: #dbdada;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;

  --white: #fff;
  --black: #000;

  --border-radius: 10px;
  --font-inter: 'Inter', sans-serif;

  --main-transition: all 0.3s ease-out;

  --max-width: 1200px;

  --scrollbarBG: #eaeaea;
  --thumbBG: #fafafa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
